/*---------------css----------------*/
html{
  text-align: center;
  font-family: sans-serif;
}

img {
  margin: auto;
  width: 28%;
  padding: 1%;
  float: left;
  margin-left: 2%;
}
table {
  border-spacing: 0px;
  border-style: solid;
  display: table;
  border-collapse: separate;
  border-color: #c1c1c1;
  width: 74%;
  margin: auto;
}
th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #6f5f5b;
  color: white;
  border-style: solid;
  border-width: thin;
}
tr{
  display: table-row;
  border-top-style: ridge;
  border-left-style: ridge;
  border-width: 0px;
  border-spacing: 2px;
  border-color: rgba(255, 230, 221, 0.32);
}
td{
  border-spacing: inherit;
  display: table-cell;
  border-style: inherit;
  border-color: inherit;
}
#runningCounter{
  margin: 2%;
}
#startButton {
  margin: 3%
}
#intro{
  margin: auto;
  width: 66%;
}
